Package: com.yourcompany.keychainclear
Name: KeyChainClear
Depends: 
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: fly
Author: fly
Section: System
Tag: role::hacker
